<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>会員情報変更</title>
    <link rel="stylesheet" href="../app/assets/index.css">
    <style>body{user-select: none;}</style>
</head>
<body>
    <h2>会員情報変更</h2>
    <p>以下の項目を入力して「確認する」ボタンを押下してください。</p>
    <form action="user_update_confirm.php" method="POST">
        <table>
            <tr>
                <th>会員ID(一旦表示中)</th>
                <td>
                    <?=h($result->id); ?>
                </td>
            </tr>
            <tr>
                <th>お名前</th>
                <td>
                        <input type="text" name="name" value="<?= empty($name)? '': $name ?>"/>
                    </td>
                </tr>
                <tr>
                    <th>メールアドレス</th>
                    <td>
                        <input type="text" name="name" value="<?= empty($name)? '': $name ?>"/>
                    </td>
                </tr>
                <tr>
                    <th>ユーザ種別</th>
                    <td>
                        <input type="radio" name="userType" id="admin" value="admin"> 
                        <label for="admin">管理者</label>
                        <input type="radio" name="userType" id="user" value="user"> 
                        <label for="user">一般ユーザ</label>
                    </td>
                </tr>
                <tr>
                    <th>グループ</th>
                    <td>
                        <select>
                            <option></option>
<?php foreach (\App\Constants\Zodiac::all() as $key => $value): ?>
                            <option value="<?= $key ?>"><?= $value ?></option>
<?php endforeach; ?>
                            <option value="eMouse">子（ね）</option>
                            <option value="eCow">丑（うし）</option>
                            <option value="eTiger">寅（とら）</option>
                            <option value="eRabbit">卯（う）</option>
                            <option value="eDragon">辰（たつ）</option>
                            <option value="eSnake">巳（み）</option>
                            <option value="eHorse">午（うま）</option>
                            <option value="eSheep">未（ひつじ）</option>
                            <option value="eMonkey">申（さる）</option>
                            <option value="eBird">酉（とり）</option>
                            <option value="eDog">戌（いぬ）</option>
                            <option value="ePig">亥（い）</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>通知</th>
                    <td>
                        <input type="checkbox"  name="notice" id="notice" value="1" >
                        <label for="notice">通知を希望する</label>
                    </td>
                </tr>
                <tr>
                    <th>登録日</th>
                    <td>
                        <span><?=date('m月d日 H:i', strtotime($result->created)); ?></span>
                    </td>
                </tr>
                <tr>
                    <th>更新日</th>
                    <td>
                        <span><?=date('m月d日 H:i', strtotime($result->updated)); ?></span>
                    </td>
                </tr>
        </table>
        <button type="submit">確認する</button>
    </form>
    <p>
        <a href="user_details.php?id=<?=$result->id?>">詳細画面に戻る</a>
    </p>
    <p>
        <a href="user_list.php">一覧画面に戻る</a>
    </p>
</body>
</html>