<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>新規会員登録</title>
</head>
<body>
    <h2>会員登録</h2>
    <p>以下の内容を確認して「登録する」ボタンを押下してください。</p>
    <table>
        <tr>
            <th>お名前</th>
            <td>
                <span><?= $name; ?>様</span>
            </td>
        </tr>
        <tr>
            <th>メールアドレス</th>
            <td>
                
            </td>
        </tr>
        <tr>
            <th>ユーザ種別</th>
            <td>
                
            </td>
        </tr>
        <tr>
            <th>グループ</th>
            <td>
                
            </td>
        </tr>
        <tr>
            <th>通知</th>
            <td>
                
            </td>
        </tr>
    </table>
    <form action="user_create_submit.php" method="POST">
        <input type="hidden" name="name" value="<?=h($name)?>">
        <button>登録する</button>
    </form>
    <form action="user_create_input.php" method="POST">
        <input type="hidden" name="name" value="<?=h($name)?>">
        <button>入力画面に戻る</button>
    </form>
    <a href="user_list.php">一覧画面に戻る</a>
</body>
</html>