<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>新規会員登録</title>
</head>
<body>
    <h2>会員登録</h2>
    <p>以下の内容を確認して「登録する」ボタンを押下してください。</p>
    <table>
        <tr>
            <th>お名前</th>
            <td>
                <span><?= $name ?>様</span>
            </td>
        </tr>
        <tr>
            <th>メールアドレス</th>
            <td>
                <span><?=h($email) ?></span>
            </td>
        </tr>
        <tr>
            <th>ユーザ種別</th>
            <td>
                <span><?= h($userType)==1 ? '管理者':'一般ユーザ' ?></span>
            </td>
        </tr>
        <tr>
            <th>干支グループ</th>
            <td>
                <span><?=h(zodiacValue($zodiac)) ?></span>
            </td>
        </tr>
        <tr>
            <th>通知</th>
            <td>
                <span><?= h($notice)=='0'? '通知しない':'希望する' ?></span>
            </td>
        </tr>
    </table>
    <form action="user_create_submit.php" method="POST">
        <input type="hidden" name="name" value="<?= $name ?>"/>
        <input type="hidden" name="email" value="<?= $email ?>"/>
        <input type="hidden" name="userType" value="<?= $userType ?>"/>
        <input type="hidden" name="zodiac" value="<?= $zodiac ?>"/>
        <input type="hidden" name="notice" value="<?= $notice ?>"/>
        <button>登録する</button>
    </form>
    <form action="user_create_input.php" method="POST">
        <input type="hidden" name="name" value="<?=h($name)?>">
        <input type="hidden" name="email" value="<?= $email ?>"/>
        <input type="hidden" name="userType" value="<?= $userType ?>"/>
        <input type="hidden" name="zodiac" value="<?= $zodiac ?>"/>
        <input type="hidden" name="notice" value="<?= $notice ?>"/>
        <button>入力画面に戻る</button>
    </form>
    <a href="user_list.php">一覧画面に戻る</a>
</body>
</html>